* {
  margin:auto 0;
  padding:0 auto;
  box-sizing:border-box;
  /*allows us to include the padding and border in an element's total width and height - Giant pain in the ass to remember all of this*/
}






body {
  background-color:hsl(30, 38%, 92%);
  font-size:14px;
  display:flex;   /*makes box movable around the                       body*/
  justify-content:center;
    margin-left:auto;
  margin-right:auto;
  align-items:center;   /*centers the item to center*/
  min-height:100vh; /* viewport height - centers the item to the center of the page*/
   
}

.container { /*When you have specified a width on the object that you have applied margin: 0 auto to, the object will sit centrally within it's parent container.

Specifying auto as the second parameter basically tells the browser to automatically determine the left and right margins itself, which it does by setting them equally. does the same with padding, that way it makes both elements equal - another pain */
  background:white; 
  overflow:hidden;
  
}
.grid {
  max-width: 650px;
  display:grid;
  grid-template-columns:1fr 1fr;
  border:1px solid black;
  border-radius:15px;
  overflow:hidden;
}


.child2{
  padding:30px 30px 30px 30px;
  font-size:14px;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  overflow:hidden;
  

  
  
  
  
}


img { /*Image for the left size of the box*/
  max-width:100%;
  display:grid;
  overflow:hidden;
}

  



.perfume { /*Perfume top text */
  font-family:"Montserrat";
  letter-spacing:.25em;
  color: hsl(228, 12%, 48%);
  width:100%;
  font-size:14px;
  line-height:3em;
}

h1 { /*Gabrielle h1 goes to Parfum*/
  font-family:"Fraunces" !important;
  text-align:left;
  font-style:bold;
  width:100%;
  font-size:40px;
  line-height:40px;  
}

.floral { /*A floral paragraph text, goes all the way to CHANEL*/
  font-family:"Montserrat";
  font-size:14px;
  color:hsl(228, 12%, 48%);
  line-height:1.6em;
}

.prices {
  display:inline-flex;
  align-items:row;
  width:100%;
  height:30px;
  
}

.color {
  color:hsl(158, 36%, 37%);
  font-size:30px;
  font-family:Fraunces;
  float:left;
  position:absolute;
  align-items:center;
  position:relative;
  top:-7px;
  padding-right:20px;
  
}  

.prices p {
  margin-right:40px;
  text-decoration:line-through;
  display:flex;
  align-items:center;
  color:hsl(228, 12%, 48%);
}




.child3 { /*Green box for Add to Cart*/
  width: 95%;
  height: 50px;
  border-radius: 0.35rem;
  background: hsl(158, 36%, 37%);
  display:inline-flex;
  align-items:center;
  justify-content:center;
  border:1px white solid;
}
  
  
 

  
  

.add { /*add to cart text*/
  color:white;
  font-family:"Fraunces", sans-serif;
  font-size:15px;
  font-weight:none;
  text-decoration:none;

 

  }
  
  
  .cart {         /*image for the cart logo*/
   max-width:17px;
   max-height:17px;
   display:flex;
   flex-direction:center;
   justify-content:center;
   align-items:center;
   margin-right:10px;
  }
  
.footer{
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
  text-align:center;
  font-size:16px;
  font-family:"Fraunces" !important;
  color: purple;
  
}


  @media only screen and (max-width: 620px)
  {
    .container{
        margin:0 15px;
        padding: 15px 0;
    }
    
    .grid{
        grid-template-columns: 1fr;
    }
    
    img {
        max-height:330px;
        width: 100%;
        object-fit:cover;
     
    }
    .child {
      display:block;
    }
    
    .prices, .cart, .add, .child3, .prices p, .color, h1: {
      padding:23px;
      object-fit:contain;
      font-size:14px !important;
      padding-bottom:20px;
}




